<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body style="background-color:white;">


  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center"style="height: 600px; color:lightgrey; margin-top: 15px; background-image: url(../static/images/header-bg.jpg); background-size:cover " >
        <h1>The Trends of Sales in the Video Game Industry</h1>
        <p>By Team Underdog</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select Region:</h5>
          <select id="selDataset" onchange="getData(this.value)">
            <option value="NA_sales_year">NA Sales</option>
            <option value="EU_sales_year">EU Sales</option>
            <option value="JP_sales_year">JP Sales</option>
            <option value="Other_sales_year">Other Sales</option>
            <option value="Global_sales_year">Global Sales</option>

          </select>
        </div>
        <!-- <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div> -->
      </div>
      <div class="col-md-10">
        <div id="bar1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="bar"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div id="pie"></div>
    </div>
    <div class="col-md-4">
      <div id="line1"></div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-5">
      <div id="bar1"></div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-6">
      <div id="bar2"></div>
    </div>
    <div class="col-md-6">
      <div id="bar3"></div>
    </div>
  </div>



  <!-- <div class="row">
    <div class="col-md-5">
      <div id="line1"></div>
    </div>
  </div> -->

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->

</body>

</html>
